<div class="gen-wrapper space-nav-ind">
  <!-- Filter Left -->
  <div class="filter-buttons stud-width-left leftnav hidden-xs">
    <div class="leftnav-container">
      <!-- Year Filter -->
      <h5>Publish Year</h5>
      <form id="year-filters">
        <% @publish_year.each do |publish| %>
          <div class="category-list">
            <input type="checkbox" name='<%= publish %>' id='<%= publish %>'>
            <label class="index-year" for='<%= publish %>'>
            - <%= publish %>
            </label>
          </div>
        <% end %>
      </form>
      <!-- Condition Filter -->
      <h5>Condition</h5>
      <form id="condition-filters">
        <% @condition.each do |cond| %>
          <div class="category-list">
            <input type="checkbox" name='<%= cond %>' id='<%= cond %>'>
            <label class="index-year" for='<%= cond %>'>
            - <%= cond %>
            </label>
          </div>
        <% end %>
      </form>
    </div>
  </div>
  <!-- Books Right -->
  <div class="container space-top-10">
    <div class="row">
      <div class="stud-content-right">
        <% if @books.empty? %>
          <div class="col-xs-12 col-sm-6">
            <h1>Sorry, no results found</h1>
          </div>
        <% else %>
          <% @books.each do |book| %>
            <div class="col-xs-12 col-sm-6 col-md-4 space-top-20 selectable-card gen-underline" data-category="<%=book.publish_year%>">
              <%= link_to book_path(book.id) do %>
              <div class="index-card text-left">
                <div class="bg-picture index-card-img" style="background-image: linear-gradient(-224deg, #08DBF0 0%, #033D68 100%)">
                </div>
                <div class="index-card-content no-margin">
                  <h4 class="index-card-title no-margin"><%= book.title %></h4>
                  <div class="index-card-description">
                    <h5 class="no-margin"><%= cutoff_text(book.author) %></h5>
                    <h5 class="no-margin">By <%= book.user.university %></h5>
                    <div class="index-card-student">
                      <h5 class="no-margin">By <%= book.user.full_name %></h5>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      $('#year-filters input:checkbox').change(function () {
        $('#year-filters input:checkbox').not(this).prop('checked', false);
        var selectedCategoryNames = $('#year-filters input:checkbox:checked').map(function () {
          return $(this).attr('name')
        }).toArray();
        cards = $('.selectable-card');
        cards.hide()
        cards.each(function() {
        //   if (selectedCategoryNames.includes($(this).attr('data-category'))) $(this).show()
        // });

        // if you want fade in do
        // ...each(function(index) {
        //     $(this).delay(100*index).fadeIn(300);
        // });
          if (selectedCategoryNames.includes($(this).attr('data-category'))) $(this).delay(100).fadeIn(300);
        });
        if (selectedCategoryNames.length === 0) cards.show();
      });
    });
  </script>

<% end %>
